<section class="image-display">
  <h1>Restaurant Challenge</h1>
  <%=image_tag("np_complete.png", alt: "Np Complete", id: "mainpage-image", class: "img-responsive")%>
</section>
<section class="about">
  <h2>About This Page</h2>
  <p>This project seeks to address the problem of ordering in a restaurant. Given a desired amount of money you wish to spend, the site allows users to find a combination of items that add up to the order exactly. This is a NP-hard problem. As such, the expected runtime of the solution is exponential with the number of menu items and target price. A trade-off was made to prevent large menus or a very high target price from being loaded rather than forcing the user to wait. Performance testing was performed to prevent menus that would result in greater than a 15 second wait.</p>
</section>