<section class="image-display">
  <h1>Restaurant Challenge</h1>
  <%=image_tag("np_complete.png", alt: "Np Complete", id: "mainpage-image")%>
</section>
<section class="about">
  <h2>About This Page</h2>
  <p>Allows user to submit a menu and a target price. The user will then be presented with a combination of items that add up to the target price exactly, should one exist.</p>
</section>