<h1>View the order</h1>
<p>Filename: <%= @inputfile.name %></p>
<p>Url: <%= @inputfile.attachment_url %></p>
<p>Number of items: <%= @number_of_items %></p>

<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>"Sample name"</td>
      <td>"Sample price"</td>
      <td>"Sample quantity"</td>
    </tr>
  </tbody>
</table>