/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f5f5f5;
}
.image-display {
  background-color: AliceBlue;
  padding: 20px;
  text-align: center;
}
.about {
  background-color: #2c3e50;
  padding-left: 17%;
  padding-right: 17%;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}
.item-display-text {
  width: 250px;
  height: 200px;
}
#mainpage-image {
  display: block;
  margin-left: auto;
  margin-right:auto;
}
